
h1
{

}
body{


}

html {

}


.planebtn {
  
}

.planebtn-content 
{
  display: none;
  position: absolute;
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  min-width: 160px;
  font-size: 16px;
  border: none;
  z-index: 1;
}

.planebtn-content:hover
{
display: block;
}

area[data-title]:hover:after {
  content: attr(data-title);
  background: rgba(0,0,0,0.5);
  color: pink;
  opacity: 2;
  height: 50px;
  width: 150px;
  position: absolute;
  text-align: center;
  padding-top: 14px;
  left: 27%;
  top: 40%;
}

img:hover {
  box-shadow: 3px 3px 2px 1px rgba(0, 140, 186, 0.5);
}

.signin {
  background-color: #f1f1f1;
  text-align: center;
}
